body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
.link {
  color: black;
}
.medium_img {
  max-height: 27rem;
  object-fit: cover;
}
.card .card-image .card-title {
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  bottom: 15px;
  left: 15px;
  padding: 6px;
}
.card-content {
  color: rgb(239 219 219 / 91%);
  box-sizing: content-box;
  padding: 10px;
  background: rgb(0 0 0 / 70%);
}
.film_name {
  font-size: 16px;
  font-weight: 700;
}
.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 20rem));
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}
.container {
  width: 90%;
}
nav {
  background-color: rgb(0 0 0 / 70%);
  padding: 0 5rem;
}
span {
  font-size: 15px;
  font-weight: 600;
}
.card-action {
  display: grid;
  grid-template-rows: auto;
  align-items: flex-end;
}
.top250_title_content {
  min-height: 8rem;
  text-align: center;
}

.pagination li.active {
  background-color: rgb(0 0 0 / 70%);
}

.details {
  max-width: 100%;
}

.details_movie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 33%));

  justify-content: space-around;
  align-items: flex-start;
  padding-top: 2rem;
}
.details_title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.details_movie_name {
  color: rgb(0 0 0 / 70%);
  font-weight: 700;
}
.similar_items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  justify-content: space-around;
}
.similar_title {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.pagination_block {
  margin-top: 1rem;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress {
  margin-top: 2rem;
}

.serch_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 2rem;
}
.sort {
  z-index: 1000;
}

.error_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.nothing_found {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.favorites {
  position: absolute;
  box-sizing: border-box;
  border: none;
  padding: 0;
  right: 15px;
  top: 15px;
  z-index: 2;
  cursor: pointer;
  transition: color 500ms ease;
  background: none;
  transition: 1s;
}
.favorites:hover {
  transform: scale(1.2);
}

.favorites_null_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.favorites_link {
  position: absolute;
  right: 2rem;
  top: -0.8rem;
}

.hide-on-med-and-down {
  display: flex !important;
}
